[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
flask-admin = "*"
pyyaml = "*"
telethon = "*"
aiohttp = "*"
rich = "*"
prompt-toolkit = "*"
sync = "*"
py-cord = "*"
tgcrypto = "*"
sentry-sdk = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
